.faqAccordion{
    margin-inline: 100px;
    .accordionSummary {
        border: 1px solid var(--color-white);
        border-radius: 10px;
        background-color: var(--color-black);
        color: var(--color-white);
    }
    .accordionDetails{
        background-color: var(--color-white);
        color: var(--color-black);
        border-radius: 0px 0px 10px 10px;
    }
}

.accordionWrapper {
    margin-block: 20px;
}

.expandIcon {
    color: var(--color-primary);
}